<!DOCTYPE html>
<html>
<head>
    <title>Main Frame</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"
            data-do-not-move="true" data-provides="jQuery"></script>

    <style>
        table, tr, th, td {
            solid: black;
        }
        table {
            margin: auto;
        }
        th {
            text-align: center;
        }
        td {
            padding-top: 5px;
            font-family: arial;
            font-size: 15px;
            text-align: center;

        }
        header {
            background-color: #eeffdd;
            background-image: url("");
            float: left;
            height: 200px;
            width: 100%;
        }
        nav {
            background-color: #abcdef;
            float: left;
        }

        #btn{
            font-weight: bold;
        }
        div#leftNav {
            float: left;
            width: 255px;
            margin-top: 200px;;
            /*display:inline-block;*/
            margin-left: 15px;
            margin-right: 35px;
            position: fixed;
        }
        #mainsection {
            clear: both;
        }
        #mainBody {
            margin-left: 300px;
            margin-top: 100px;
        }
        /*.subHeading{*/
        /*color:#2a2a2a;*/
        /*font-size:.857em;*/
        /*font-family:'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;*/
        /*font-weight:bold;*/
        /*margin:0;*/
        /*}*/
        .firstp {
            font-weight: bold;
            font-family: "Times New Roman";
            font-size: 80px;
        }
        .secondp {
            font-size: 30px;
        }
        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }
        input[name=search] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('/a.PNG');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[name=search]:focus {
            width: 100%;
        }
    </style>

</head>


<body id="home">

<div class="container-fluid">
    <header>

        <img src="http://localhost:2722/image/webheader.jpg" style="width:100%;height:100%">

    </header>

    <div class="container-fluid">
        <div class="row">
            <div id="leftNav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="secondp"><a href="#home">HOME
                        </a></li>
                    <li class="secondp"><a href="#list">명단
                        </a></li>

                    <li class="secondp"><a href="#plus">회원 추가</a></li>
                    <li class="secondp"><a href="#delete">회원 삭제</a></li>
                </ul>
            </div>
            <div style="margin-left:270px " >
                <form action = "/" method ="get">
                    <h2 >ADMIN PAGE</h2>
                    <div align="right">
                        <p> 관리자 : <%=AdminsData.email%>
                            <input type ="submit" id = "logout" value="logout" align="right">
                        </p>
                    </div>
                </form>
            </div>

            <!-- <form action="" method="post">
                 <div class="collapse navbar-collapse" id="myNavbar">
                     <div class="nav navbar-nav navbar-right">
                         <input type="text" name="search" placeholder="search...">
                     </div>
                 </div>
             </form>-->

            <div id="mainSection" class="container-fluid">
                <div id="mainBody">

                    <div class="row slideanim">
                        <h1 id="list" class="subHeading">명단</h1><br>
                        <div style="border: 1px solid gold; float: left; width: 30%;padding:10px;  padding-top:0px;">
                            <h3>의사 목록</h3>
                            <table border='0' class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th width="66%">의사 코드</th>
                                    <th width="33%">이름</th>
                                </tr>
                                </thead>
                                <% for (var i = 0; i < DoctorsData.length; i++) {
                                %>
                                <tr>
                                    <th><p><%=DoctorsData[i].Doctor_ID%></p></th>
                                    <th><p><%=DoctorsData[i].Doctor_name%></p></th>
                                </tr>
                                <%
                                } %>
                            </table>
                        </div>
                        <div style="border: 1px solid gold; float: left; width: 69%; padding:10px;padding-top:0px; margin-left:10px;">
                            <h3>환자 목록</h3>
                            <table border='0' class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th width="35W%">LTID</th>
                                    <th width="8%">이름</th>
                                    <th width="10%">성별</th>
                                    <th width="10%">나이</th>
                                    <th width="18%">담당의사 코드</th>
                                    <th width="16%">담당의사 변경</th>
                                </tr>
                                </thead>
                                <% for (var i = 0; i < UsersData.length; i++) {
                                %>
                                <tr>
                                    <form action="/main/test3" method="get">
                                        <th ><input type="submit"class="btn btn-default"style=" width:100%" id="btn"name="LTID" value="<%=UsersData[i].LTID%>"></th>
                                        <th><p><%=UsersData[i].name%></p></th>
                                        <th><p><%=UsersData[i].gender%></p></th>
                                        <th><p><%=UsersData[i].age%></p></th>
                                        <th><p><%=UsersData[i].Doctor_ID%></p></th>
                                    </form>
                                    <form action="/admin_change_doctor" method="get">
                                        <th>
                                            <input type="hidden" id="LTID" name="LTID" value="<%=UsersData[i].LTID%>">
                                            <input type="hidden" id="Doctor_ID" name="Doctor_ID" value="<%=UsersData[i].Doctor_ID%>">

                                            <input type="submit"class="btn btn-primary"id="btn" name="changedoctor" value="변경">
                                        </th>
                                    </form>
                                </tr>
                                <%
                                } %>
                            </table>
                        </div>
                    </div>




                    <br><br><br>
                    <hr>



                    <div class="row slideanim">
                        <h1 id="plus" class="subHeading">회원 추가</h1><br>
                        <div class="container text-center" style="width:20%">
                            <tabel border ="0" >

                                <form action ="/main/addoldman"method="post"  class="form-horizontal">
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="LTID">Institution ID </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="LTID" name="LTID"type="text" placeholder="LTID">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="name">이름 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="name" name="name"type="text" placeholder="이름">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="gender">성별 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="gender" name="gender"type="text" placeholder="성별">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="age">나이 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="age" name="age"type="number" placeholder="나이"min="0">
                                            </td>
                                        </tr>
                                    </div>
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="phone">전화번호 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="phoneNumber" name="phoneNumber"type="text" placeholder="전화번호">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="Location">주소 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="Location" name="Location"type="text" placeholder="주소">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="Doctor_ID">담당의사 코드 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="Doctor_ID" name="Doctor_ID"type="text" placeholder="의사코드">
                                            </td>
                                        </tr>
                                    </div>
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="disease">질병 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="disease" name="disease"type="text" placeholder="질병">
                                            </td>
                                        </tr>
                                    </div>
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="bornat">생년월일 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="bornat" name="bornat"type="text" placeholder="생년월일">
                                            </td>
                                        </tr>
                                    </div>



                                    <input type="submit" class="btn btn-success" id="btn" value="추가하기">

                                </form>
                            </tabel>
                        </div>
                    </div>


                    <br><br><br>
                    <hr>


                    <div class="row slideanim">
                        <h1 id="delete" class="subHeading">회원 삭제</h1><br>
                        <div class="container-fluid text-center">
                            <table border="0" width="70%"  class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th width="18%">LTID</th>
                                    <th width="10%">이름</th>
                                    <th width="8%">성별</th>
                                    <th width="8%">나이</th>
                                    <th width="12%">지역</th>
                                    <th width="18%">담당의사 코드</th>
                                    <th width="16%">회원 삭제</th>

                                </tr>
                                </thead>
                                <% for (var i = 0; i < UsersData.length; i++) {
                                %>

                                <tr>
                                    <form action ="/main/deloldman"method="post">
                                        <th><p><%=UsersData[i].LTID%></p></th>
                                        <th><p><%=UsersData[i].name%></p></th>
                                        <th><p><%=UsersData[i].gender%></p></th>
                                        <th><p><%=UsersData[i].age%></p></th>
                                        <th><p><%=UsersData[i].Location%></p></th>
                                        <th><p><%=UsersData[i].Doctor_ID%></p></th>
                                        <th><input type="submit"class="btn btn-danger"id="btn" value="삭제하기"></th>
                                        <input type="hidden" id="LTID" name="LTID" value="<%=UsersData[i].LTID%>">
                                        <input type="hidden" id="Location" name="Location" value="<%=UsersData[i].Location%>">
                                    </form>
                                </tr>
                                <%
                                } %>
                            </table>
                        </div>
                    </div>

                    <br><br><br>
                    <hr>



                    <div class="row slideanim">
                        <h1 id="plus" class="subHeading">의사 추가</h1><br>
                        <div class="container text-center" style="width:20%">
                            <tabel border ="0" >

                                <form action ="/main/adddoctor" method="post"  class="form-horizontal">
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="Doctor_ID">의사 ID </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="Doctor_ID" name="Doctor_ID"type="text" placeholder="Doctor_ID">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="Doctor_name">이름 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="Doctor_name" name="Doctor_name"type="text" placeholder="이름">
                                            </td>
                                        </tr>
                                    </div>

                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                <label class="control-label" for="Doctor_pw">비밀번호 </label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="Doctor_pw" name="Doctor_pw"type="text" placeholder="Doctor_pw">
                                            </td>
                                        </tr>
                                    </div>


                                    <input type="submit" class="btn btn-success" id="btn2" value="의사추가하기">

                                </form>
                            </tabel>
                        </div>
                    </div>





                    <br><br><br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br><br><br>

<footer class="container-fluid text-center">
    <a href="#home" title="To Top">
        <span class="glyphicon glyphicon-hand-up"></span>
    </a>
    <p>Homepage Made By <a title="Empty!! HAHA">Ubinet</a></p>
    <p>팀원 : 김영남, 전준엽, 조재근, 함성호</p>
</footer>

<!--<script>-->

<!--$(document).on("click", "#changedoctor", function () {-->
<!--window.location.href = "/main/admin_change_doctor";-->
<!--});-->


<!--</script>-->


<script>
    $(document).ready(function () {
        $("#sendBtn2").click(function () {
            var name = $('#name').val();
            var LTID = $('#LTID').val();
            var address = $('#address').val();
            var phoneNumber = $('#tel').val();
            var age = $('#age').val();
            var disease = $('#pain').val();
            alert(phoneNumber + "/" + disease);
            $.ajax({
                    type: "post",
                    url: '/main',
                    data: {
                        name: name,
                        age: age,
                        LTID: LTID,
                        beatData: 0,
                        heartData: 0,
                        content: "abc",
                        lat: 38.123461,
                        lon: 127.245321,
                        spot: "seoul",
                        resourceId: "abc",
                        created_at: Date(),
                        address: 'seoul',
                        phoneNumber: phoneNumber,
                        disease: disease
                    },
                    dataType: "json",
                    success: function (data) {
                        var index = 0;
                        index++;
                        $("#inserTable").append("<tr> <td id='dLTID'> " + data.LTID + "</td>"
                            + "<td id='dName'>" + data.name + "</td>" + "<td>" + data.address + "</td>"
                            + "<td>" + data.phoneNumber + "</td>" + "<td>" + data.disease + "</td>");
                    }
                }
            );
        });
    });
</script>

</body>
</html>