
<!DOCTYPE html>
<html>
<head>

 <link rel='stylesheet' href='/stylesheets/style.css'/>
 <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"
         data-do-not-move="true" data-provides="jQuery">
 </script>

 <style>
  header {
   background-color: #eeffdd;
   float: left;
   height: 200px;
   width: 100%;
  }


  div#leftNav {
   float: left;
   width: 255px;
   margin-top: 200px;;
   /*display:inline-block;*/
   margin-left: 15px;
   margin-right: 35px;
   position: fixed;
  }

  #mainBody1 {
   margin-left: 300px;
   margin-top: 250px;

  }

  #mainBody2 {
   margin-left: 500px;
   margin-top: 100px;
   margin-bottom: 100px;
  }

  h5, h6 {
   font-size: .857em;
   font-weight: normal;
   line-height: 130%;
   margin: 0;
  }

  .firstp {
   font-weight: bold;
   font-family: "Times New Roman";
   font-size: 80px;
  }

  .secondp {

   font-size: 30px;
  }


  table, tr, th, td {
   solid: black;
  }
  table {
   margin: auto;
  }
  th {
   text-align: center;
  }
  td {
   padding-top: 5px;
   font-family: arial;
   font-size: 15px;
   text-align: center;

  }


 </style>


</head>
<body>

<div class="container-fluid">
 <header>

  <img src="http://52.79.83.51:2721/image/webheader.jpg" style="width:100%;height:100%">

 </header>


 <div class="container-fluid">
  <div class="row">
   <div id="leftNav">
    <ul class="nav nav-pills nav-stacked">
     <li class="secondp"><a href="main">홈</a></li>
       <li class="secondp"><a href="/overdose">투약시간 조회</a></li>
     <li class="secondp"><a href="/map">위치조회</a></li>
     <li class="secondp"><a href="/main/test3">건강상태 조회</a></li>
    </ul>
   </div>
   <div align ="center"id="mainSection" class="container-fluid">
    <div id="mainBody1">
     <h1>투약알림 목록</h1>
<div>
<table width="70%"border='0'class="table table-striped table-hover">
      <tr>
          <th>LTID</th>
          <th>약명칭</th>
          <th colspan="3">시간</th>
          <th>기간</th>

      </tr>

      <% for (var i = 0; i < MedInfo.length; i++) {
      %>
      <tr>
          <td><%= MedInfo[i].LTID %></td>
          <td><%= MedInfo[i].medname%></td>
          <td><%= MedInfo[i].alarmHour[0].hour1%>:<%= MedInfo[i].alarmMin[0].minute1 %></td>
          <td><%= MedInfo[i].alarmHour[0].hour2%>:<%= MedInfo[i].alarmMin[0].minute2 %></td>
          <td><%= MedInfo[i].alarmHour[0].hour3%>:<%= MedInfo[i].alarmMin[0].minute3 %></td>
          <td><%= MedInfo[i].startDate%>~<%= MedInfo[i].endDate%></td>
      </tr>
      <%
      } %>


</table>
</div>
    </div>
   </div>

  </div>
 </div>


 <hr>
 <hr>

 <br><br><br>

 <footer class="container-fluid text-center">
  <a href="#home" title="To Top">
   <span class="glyphicon glyphicon-hand-up"></span>
  </a>
  <p>Homepage Made By <a title="Empty!! HAHA">Ubinet</a></p>
  <p>팀원 : 김영남, 전준엽, 조재근, 함성호</p>
 </footer>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnRegister").click(function () {
            location.href = "/register"
        })
    })
</script>

</html>
